body{
    margin: 0;
    margin-top: 2px;
    margin-left: 2px;
}
.container_main{
    margin: 0;
}
.first_container{
    grid-row: 1;
    margin: 0;
    width: 1920px;
    height: 1080px;
}
.fondo{
    width: 1920px;
    height: 83.5%;
    position: absolute;
}
.navegacion{
    margin-top: -15.2vh;
    width: 100%;
    display: flex;
    background-color:  #2e69cf ;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 15.5vh;
    position: fixed;
    z-index: 100;
}
.barra{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
    width: 80vw;
}
.barra p{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.navegacion_consult{
    margin-top: 2.5vh;
    border-radius: 2vw;
    width: 14vw;
    height: 5vh;
    font-size: 2rem;
}
.section1{
    margin-top: 15.5vh;
}
.form_consult{
    margin-top: 8vh;
    margin-left: 5vw;
    text-align: center;
    font-size: 1rem;
    line-height: 2vh;
    width: 30vw;
    height: 68vh;
    position: absolute;
    background-color: white;
    border-radius: 2vw;
}
.titulito{
    margin-top: 1vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    line-height: 5.5vh;
    font-size: 2.5rem;
}
.please_enter{
    font-weight: 100;
    font-size: 1.1rem;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: -3vh;
}
.formulario{
    margin-top: -2vh;
    font-size: 1.1rem;
    margin-left: 2vw;
    text-align: justify;
}
.formulario select{
    width: 92%;
    height: 4vh;
}
.formulario input{
    width: 90.5%;
    height: 3vh;
}
.formulario button{
    width: 9vw;
    font-size: 1.1rem;
    color: white;
    border-radius: 0.8vw;
    background-color: rgb(65, 115, 252);
    height: 5vh;
    margin-left: 30%;
    margin-top: 3vh;
}
.texto_first_container{
    position: absolute;
    width:45vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 25vh;
    margin-left: 48vw;
}
.titulito2{
    font-size: 4rem;
}
.texto_subsidio{
    opacity: 0.5;
    font-size: 1.8rem;
}
.texto_first_container button{
    width: 10vw;
    height: 5vh;
    color: white;
    font-size: 1.1rem;
    margin-top: 2vh;
    border-radius: 0.8vw;
    background-color: rgb(65, 115, 252);
}
.second_container{
    display: flex;
    position: absolute;
}
.titulo_second{
    text-align: center;
    margin-left: 35vw;
    margin-top: -10vh;
    font-size: 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:lighter;
}
.parrafo_container2{
    width: 60vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
    line-height: 1.5;
    position: absolute;
    margin-left: 0vw;
    opacity: 0.7;
}
.second_image{
    width: 60vw;
    margin-top: -10vh;
    margin-left: 50vw;
    position: absolute;
}
.textoflecha{
    margin-top: 65vh;
    font-size: 1.4rem;
    margin-left: -50vw;
}
.flecha_abajo{
    margin-left: 6.5vw;
}
.bancos{
    margin-top: 80vh;
    justify-content: center;
}
.titulo_bancos{
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.8;
    text-align: center;
    font-size: 3rem;
}
.bancos_etapa{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    opacity: 0.8;
    justify-content: space-evenly;
    font-size: 2rem;
}
.fechas{
    font-size: 2rem;
    display: flex;
    margin-left: 4vw;
    justify-content: space-evenly;
    opacity: 0.8;
}
.autorizados{
    margin-top: 10vh;
    font-size: 3rem;
    text-align: center;
    justify-content: center;
}
.bancos_image{
    display: flex;
    justify-content: space-evenly;
}
.bancos_image img{
    width: 25vw;
}